.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  width: 200px;
  margin-bottom: 30px;
}

.report{
color:white;
font-size: 40px;
border: 3px dashed red;
width:40%;
margin: 20px auto;
}

button{
  padding: 8px;
  margin-left: 430px;
  border: 2px solid red;
  width:30%
}

body {
  background-color: #393E46;
}

h1 {
  margin: 0 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

/* footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

} */
